*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.image-header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406),rgba(0,0,0,0.65)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    
}
.image-header-1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406),rgba(0,0,0,0.65)), url(images/banner2.jpg);
    background-size: cover;
    background-position: center;
    
}
.image-header-2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406),rgba(0,0,0,0.65)), url(images/banner3.jpg);
    background-size: cover;
    background-position: center;
    
}
.image-header-3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406),rgba(0,0,0,0.65)), url(images/banner4.jpg);
    background-size: cover;
    background-position: center;
    
}

.left-logo{
    width: 30%;
    padding-left: 120px;
}
.left-logo a{
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.header-nav{
    padding: 40px;
    display: flex;
    align-items: center;
}
.left-logo span{
   font-weight: lighter;
}
.middle-nav{
    padding: 10px;
    width: 60%;
}
.middle-nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 200px;
}
.middle-nav a{
    color: white;
    font-size: 15px;
}
.search{
    width: 30%;
    padding: 20px;
}
.search span{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.btn-1{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: red;
    cursor: pointer;
}
.home-content{
    position: absolute;
    top: 300px;
    left: 150px;
}
.home-content .women{
    color: white;
    font-size: 60px;
    width: 70%;

}
.home-content p{
    padding-top: 10px;
    color: white;
    font-size: 20px;
}
/* home-content-3 */
.home-content-3{
    width: 60%;
    padding-top: 150px;
    padding-left: 150px;
}
.home-content-3 .women{
    color: white;
    font-size: 60px;
    width: 70%;
}
.home-content-3 p{
    padding-top: 10px;
    color: white;
    font-size: 20px;
}