a{
    text-decoration: none;
}



.logo-text{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo-text span{
    color: #fe4c1c;
}
.from1{
    position: relative;
}
.ser{
    position: absolute;
    top: 7px;
    right: 18px;
    
}
.nav-bar-pos{
    position: relative;
}
.pos-moon{
    position: absolute;
    top: 23px;
    right: 65px;
    font-size: 25px !important;
}
.main-header .divde-line::before{
    content: "";
    margin: 30px 0px;
    height: 5px;
    width: 120px;
    background-color: #00c3ff;
    display: block;
}
.main-header  .btn-1{
    height: 50px;
    width: 150px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 35px;
    background-color: #fe4c1c;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 5px 5px 10px #f0967d;
}
.one-header span{
    color: #00c3ff;
        outline: none;
    font-family: 'Nunito', sans-serif;
}
.about-us .btn-1{
    height: 50px;
    width: 150px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 35px;
    background-color: #fe4c1c;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 5px 5px 10px #f0967d;
}
.about-class span{
    color: #00c3ff;
}
.para-text{
    font-size: 22px;
    font-weight: 500;
}
.featrues h4 a{
    color: black  !important;
}
.featrues h4 a:hover{
    color: #fe4c1c  !important;
    transition: 0.3s ease !important;
}

.reasons h3 a:hover{
    color: #00c3ff !important;
    transition: 0.3s ease !important;
}
.best-part{
    background-color: #f0f6ff;
}
.best-part .btn-1{
    height: 50px;
    width: 200px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 35px;
    background-color: #fe4c1c;
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 5px 5px 10px #f0967d;
}
.bolg-post .link-hover:hover{
    color: #fe4c1c !important;
    transition: 0.3s ease-in;
}
.bolg-post img{
    height: 250px;
    width: 25rem !important;
    border-radius: 5px;
}
.bolg-post .card-change{
    border: none;
}



@media (max-width: 576px) {
    .pos-moon{
        right: 2px !important;
    }
}
@media (min-width: 576px) {
    .pos-moon{
        right: 2px !important;
    }
}
@media (min-width: 768px) {
    .pos-moon{
        right: 2px !important;
    }
}
@media (min-width: 992px) {
    .pos-moon{
        right: 3px !important;
    }
}
@media (min-width: 1200px) {
    .pos-moon{
        right: 65px !important;
    }
}
