/* @media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
} */
@media (max-width:779px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px; 
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #moile{
        display: flex;
        align-items: center;
    }
    #moile i{
        color: #1a1a1a;
        font-size: 22px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
          margin: 15px;
      
    }
    #banner {
       height: 30vh;
    } 
    #sm-banner .banner-box {
       min-width: 100%;
       height: 70vh;
    }
    #banner3 {
        padding: 0 30px;
    }
    #banner3 .banner-box {        
        width: 28%;
    }
    #banner3 h2 {
        font-size: 18px;
    }
    #newsletter .from {
        width: 70%;
    }
    footer .col {
        margin-left: 0px;
    }
}