@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
    #hero {
        padding: 0 0px;
        background-position: 55%;
    }
    h2 {
        font-size: 32px;
       
    }
    h1 {
        font-size: 38px;
    }
    .section-p1 {
        padding: 20px 20px;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature {
        justify-content: space-between;
    }
    #product1 .pro {
        width: 100%;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
       padding: 24px 20px;
    }
    #newsletter .from {
        width: 100%;
    }
    footer h4 {
        margin-top: 20px;
    }
    footer .copyright {
        text-align: start;
    }
}